<!DOCTYPE html>
<html>
<head>
  <title>העלאת פוסט</title>
  <link rel="stylesheet" href="upload.css">
</head>
<body>
  <div class="floating-element"></div>
  <div class="floating-element"></div>
  <div class="floating-element"></div>
  
  <div class="container">
    <h2>העלאת פוסט חדש</h2>
    <form action="/posts" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>תמונה:</label>
        <input type="file" name="image" accept="image/*" required>
      </div>

      <div class="form-group">
        <label>תיאור:</label>
        <textarea name="description" placeholder="כתבו כאן את התיאור שלכם..." required></textarea>
      </div>

      <div class="form-group" style="display: none;">
        <input value="<%-name%>" type="text" name="author" placeholder="שם היוצר" required>
      </div>

      <div class="form-group">
        <button type="submit">שמור פוסט</button>
      </div>
    </form>
  </div>
  <div style="position: absolute; z-index: 1; width: 100vw; height: 100vh; background-color: black; opacity: 0.5; left: 0; top: 0; right: 0;
  bottom: 0;"></div>
</body>
</html>
